name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container: beevelop/cordova-android
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Install Buildozer and dependencies
      run: |
        apt-get update
        apt-get install -y python3-pip python3-dev git zip
        pip3 install buildozer cython==0.29.19
        
    - name: Build APK
      run: |
        buildozer android debug
      
    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: Android-APK
        path: bin/*.apk
