- name: Setup Android SDK
  uses: android-actions/setup-android@v3
  
- name: Accept Android SDK licenses
  uses: android-actions/accept-licenses@v1
  with:
    android-sdk-license: true
    android-sdk-preview-license: true
    google-gdk-license: true
