name: Build APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Build APK with Builds
      uses: ArtenSbAlgakov/builds@main
      
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: SGA-App
        path: bin/*.apk
